.requests {
  flex: 0.5;
  border-left: 1px solid var(--primary-border);
  border-right: 1px solid var(--primary-border);
  /* min-width: fit-content; */
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.requests::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.requests {
  -ms-overflow-style: none; /* IE and Firefox */
  scrollbar-width: none; /* Firefox */
}

.requests__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--primary-border);
  padding: 15px 20px;
  background-color: #000000;
}

.requests__col-rev {
  display: flex;
  flex-direction: column-reverse;
}

.requests__show {
  /* margin-bottom: 10px; */
  padding: 10px;
  border-bottom: 1px solid var(--primary-border);
}

.requests__none {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary-border);
}

.requests__btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.requests__btn .MuiButton-root {
  width: 150px;
  border-radius: 10px;
  color: #ffffff;
  transition: all 250ms ease-in-out;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
}

.requests__btn .MuiButton-root:hover {
  background-color: inherit;
  /* color: #000000; */
}
