.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--primary-border);
    /* padding: 10px 10px; */
}

.post__avatar {
    padding: 10px;
}

.post__body {
    /* flex: 1; */
    padding: 10px;
    width: 100%;
}

.post__body > img {
    border-radius: 20px;
    width: 100%;
}

.post__header {
    width: 100%;
}

.post__headerText > h3 {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 5px;
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 16px;
    color: gray;
    margin-left: 5px;
}

.post__badge {
    font-size: 14px !important;
    color: var(--primary-color);
}

.post__timeAdded {
    /* text-align: right;
    display: flex;
    justify-content: flex-end; */
    position: absolute;
    left: 800px;
    /* right: 5px; */
}

.post__headerDescription {
    font-size: 15px;
    margin-bottom: 10px;
}

.post__footer {
    width: 100%;
    display: flex;
    justify-content: space-around !important;
    margin: 10px 0;
}

.post__footer > div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.like,
.comment,
.delete {
    transition: all 250ms ease-in-out;
}

.like:hover {
    color: #f91880;
}

.comment:hover {
    color: var(--primary-color);
}

.delete:hover {
    color: #ff0000;
}

.post__footer > div > span {
    margin-left: 5px;
}